extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Seema Chavesta
        //- Feel free to personalize the title below
        p Web developer

        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I describe my self as someone who's presistant, enthusiastic and love problem solving by using simple and flexible solutions.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li SCSS
          li JavaScript
          li jQuery
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        .contact-info
          i.fal.fa-phone (415)988-3522
          i.fa.fa-envelope(aria-hidden='true')  seemachavesta@yahoo.com

        a.btn-link(href='#') LinkedIn
        a.btn-link(href='https://github.com/seemachavesta' target="_blank") GitHub
        a.btn-link(href='#') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back