extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the web great together!

    p My Portfolio


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell 
          a(href=`projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name